{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Liste des utilisateurs{% endblock %}
{% block header_img %}{% endblock %}
{% block header_title %}<h1 id="userListTitle" class="mt-4">Liste des utilisateurs</h1>{% endblock %}

{% block body %}
    {% if users|length == 0 %}
        <p>Il n'y a aucun utilisateurs</p>
    {% else %}
        <div class="row">
            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom d'utilisateur</th>
                        <th scope="col">Adresse d'utilisateur</th>
                        <th scope="col">Rôle</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <th class="user-row" scope="row">{{ loop.index }}</th>
                            <td class="td-user-username">{{ user.username }}</td>
                            <td class="td-user-email">{{ user.email }}</td>
                            {% if user.role == 'ROLE_ADMIN'%}
                                <td class="td-user-role">Administrateur</td>
                            {% elseif user.role == 'ROLE_USER'%}
                                <td class="td-user-role">Utilisateur</td>
                            {% else %}
                                <td class="td-user-role"></td>
                            {% endif %}
                            <td>
                                <a href="{{ path('tdl_user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}