{% extends 'base.html.twig' %}
{% import "macros/form_elements.html.twig" as formElements %}

{% block body %}
    <div class="row flex-column mx-0">
        {{ form_start(form, {'attr': {'class': 'w-75 mx-auto', 'id': 'taskForm', 'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-end">
            {{ formElements.recaptcha('g-recaptcha btn btn-success', 'createTaskBtn', 'Ajouter') }}
            </div>
        {{ form_end(form) }}

        <div class="mt-4">
            <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="{{ asset('js/manage_task.js') }}" async defer></script>
{% endblock %}