{% extends 'base.html.twig' %}
{% import "macros/form_elements.html.twig" as formElements %}

{% block body %}
    <div class="row flex-column mx-0">
        {{ form_start(form, {'attr': {'class': 'w-75 mx-auto', 'id': 'taskForm', 'novalidate': 'novalidate'}}) }}
            <div class="form-group">
                {{ form_label(form.title, "Titre", {'label_attr' : {'class': 'control-label'}}) }}    
                {{ form_widget(form.title) }}
                <span class="invalid-feedback d-block" id="titleError"></span>
            </div>
            <div class="form-group">
                {{ form_label(form.content, "Contenu", {'label_attr' : {'class': 'control-label'}}) }}    
                {{ form_widget(form.content) }}
                <span class="invalid-feedback d-block" id="contentError"></span>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-success" id="createTaskBtn">Ajouter</button>
                {{ formElements.recaptcha() }}
            </div>
        {{ form_end(form) }}

        <div class="mt-4">
            <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="{{ asset('js/manage_task.js') }}" async defer></script>
{% endblock %}