{% extends 'base.html.twig' %}
{% import "macros/_form_elements.html.twig" as formElements %}
{% block title %} {{ parent() }} Login{% endblock %}

{% block body %}
<div class="row flex-column mx-0">
    <div class="col-lg-5 col-sm-8 mx-auto">
        <form id="loginForm" class="form-horizontal py-3" action="{{ path('tdl_login') }}" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="form-group">
                <label class="control-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="_password" />
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <div id="submitBtnContainer" class="d-flex flex-column align-items-center">
                <button class="btn btn-success" id="loginBtn" type="submit">Se connecter</button>
            </div>
            {{ formElements.recaptcha("g-recaptcha d-flex justify-content-center mt-3") }}
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {{ encore_entry_script_tags('login') }}
{% endblock %}